
@{
    Layout = null;
    string ipconfig = ViewBag.ip;
    string Image = ViewBag.Image;
    string Container = ViewBag.Container;
}

<!DOCTYPE html>

<html>
<head style="text-align: center">
    <meta name="viewport" content="width=device-width" />
    <title>Group 25 | Docker </title>
    <link rel="shortcut icon" href="https://o.remove.bg/downloads/7121b97f-1a57-493d-aff0-2eda5f7a2788/Whale-Logo332_5-removebg-preview.png" type="image">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style type="text/css">
        body, html, input, button {
            font-family: 'Quicksand', sans-serif;
            /*background-attachment: fixed;*/
        }

        body {
            /* background: url(https://collabnix.com/wp-content/uploads/2021/07/docker.png);
            background-size: cover;*/
            background-color: #253238;
        }

        .container {
            max-width: 1150px;
            margin: 0 auto;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
           
            /* width: 1120px;*/
            /* align-items: center;
            justify-content: center;
            text-align: center;*/
        }

        header {
           /* padding: 30px 0px;*/
            /* box-shadow: 0px 3px 3px -2px #2980b9;*/
        }

        .button-group button {
            width: 80%;
            align-items: center;
        }

        .btn-create {
            border: 1px solid #2980b9;
            background-color: #2980b9;
            color: white;
        }

            .btn-create:hover {
                border: 1px solid #3498db;
                background-color: #3498db;
                color: white;
            }

        /* .btn-cmd:hover {
            border: 1px solid #2980b9;
            background-color: #3498db;
            color: white;
        }*/

        .btn-stop:hover {
            border: 1px solid #c0392b;
            background-color: #c0392b;
            color: white;
        }

        .btn-cmd:hover {
            border: 1px solid #27ae60;
            background-color: #27ae60;
            color: white;
        }

        .btn-image:hover {
            border: 1px solid #f39c12;
            background-color: #f39c12;
            color: white;
        }

        .btn-dockerstats:hover {
            border: 1px solid #2980b9;
            background-color: #2980b9;
            color: white;
        }

        .btn-potainer {
            border: 1px solid #2980b9;
            background-color: #2980b9;
            color: white;
        }

            .btn-potainer:hover {
                border: 1px solid #3498db;
                background-color: #3498db;
                color: white;
            }
    </style>
</head>
<body>
    <div class="container">
        <div className="title" style=" margin: 0px 0px 50px 0px; text-align: center; align-items: center;">
            <h1 style="color: #2980b9; font-weight: bold;">
                SỬ DỤNG DOCKER ĐỂ ẢO HÓA UBUNTU
            </h1>
        </div>
        <div style=" width:100%; box-shadow: 0 2px 20px #2980b9; border-radius: 5px; display: flex; justify-content: space-between; padding: 50px 30px">
            <div style="width: 49%; box-shadow: 0 2px 20px rgb(0 0 0 / 16%); padding: 30px; border-radius: 5px; " class="d-left">
                <div style="font-weight: 700; color: #333; font-size: 21px; color: white">Khởi động container</div>
                <form action="/Call/Start" method="post">

                    <div class="dropdown" style="margin-top: 60px; display: flex; align-items: center; justify-content: space-between">
                        <select style="width: 48%" name="numberRAMs" class="form-select">
                            <option selected>Chọn số RAMs</option>
                            <option value="1GB">RAMs: 1 GB</option>
                            <option value="2GB">RAMs: 2 GB</option>
                            <option value="3GB">RAMs: 3 GB</option>
                            <option value="4GB">RAMs: 4 GB</option>
                        </select>
                        <select style="width: 48%" name="numberCPUs" class="form-select">
                            <option selected>Chọn số CPUs</option>
                            <option value="1">CPUs: 1</option>
                            <option value="2">CPUs: 2</option>
                            <option value="3">CPUs: 3</option>
                            <option value="4">CPUs: 4</option>
                        </select>
                    </div>

                    <div class="form-group input-group mb-3" style="margin-top: 30px; height: 30px">
                        <input type="text" name="nameContainer" class="form-control" placeholder="Nhập tên Container" aria-label="Nhập tên Container" aria-describedby="button-addon2">
                    </div>
                    <input type="submit" value="Khởi tạo" style="font-weight: bold; margin-top: 10px; width: 100%; padding: 7px 0px;" class="btn-create btn btn-outline-secondary">

                </form>
            </div>
            <div>
                <img src="https://alphaville.github.io/optimization-engine/img/docker.gif" />
            </div>
            @*Button-feature*@
            <div style="width: 45%; box-shadow: 0 2px 20px rgb(0 0 0 / 16%); padding: 30px; border-radius: 5px;" class="d-right">
                <div style="font-weight: 700; font-size: 21px; color: white">Chức năng</div>
                <div class="button-group" style="margin-top: 30px; align-items: center; display: flex; flex-direction: column">
                    <form action="/Call/Stop" method="post" style="width: 80%;">
                        <input type="submit" value="Tắt Container" style="margin-top: 20px; width: 100%;" class="btn-stop btn btn-light">
                    </form>
                    <button style="margin-top: 20px" type="button" class="btn-cmd btn btn-light" data-bs-toggle="modal" data-bs-target="#cmdModal">
                        Command Line
                    </button>
                    <button style="margin-top: 20px" type="button" class="btn-cmd btn btn-light" data-bs-toggle="modal" data-bs-target="#imageModal">
                        Image
                    </button>
                    <form action="/Call/SeeStats" method="post" style="width: 80%;">
                        <input type="submit" value="Docker stats" style="margin-top: 20px; width: 100%;" class="btn-dockerstats btn btn-light">
                    </form>

                    @if (ViewBag.Link != null)
                    {
                        <div style=" display: flex; justify-content: space-between; align-items:center; margin-top: 20px">
                            <div class="form-group" style="margin-right: 2px">
                                <a href="@ViewBag.Link" target="_blank" class="btn-potainer btn btn-primary">Open Portainer</a>
                            </div>
                            <div class="form-group" style="margin-left: 2px">
                                <a href="/Call/ClosePortainer"><input type="submit" class="btn-potainer btn btn-primary" value="Close Portainer" /></a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group" style="margin-top: 20px; align-items:start; text-align: start">
                            <a href="/Call/DeployPortainer"><input type="submit" class="btn-potainer btn btn-primary" value="Open Portainer" /></a>
                        </div>
                    }

                </div>
                <!-- Modal -->
                @*CMD*@
                <div class="btn-modal">
                    <div class="modal fade" id="cmdModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 style="font-weight: bold" class="modal-title fs-5" id="exampleModalLabel">Command line</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/Call/Test" method="post">
                                        <div class="input-group mb-3" style="margin-top: 20px">
                                            <input type="text" name="code" class="form-control" placeholder="Nhập lệnh...." aria-describedby="button-addon2">
                                            <input type="submit" name="command" value="Thực hiện lệnh" class="btn-cmd btn btn-outline-secondary" id="button-addon2">
                                        </div>
                                        <div class="mb-3">
                                            <textarea style="height: 350px; background-color: #333; color: white" class="form-control" id="message-text">@ipconfig</textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Image*@
                    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 style="font-weight: bold" class="modal-title fs-5" id="exampleModalLabel">Các Image của Docker</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <textarea style="height: 350px; background-color: #333; color: white" class="form-control" id="message-text">@Image</textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
