
@{
    Layout = null;
    string ipconfig = ViewBag.ip;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <center style="margin-top: 30px">
        <form action="/Call/Test" method="post">
            <input type="text" name="code" style="height: 30px" />
            <a href="/Call/Test"><input type="submit" name="command" class="btn btn-primary" value="Thực hiện lệnh" /></a>
        </form>
    </center>
    <br />
    <br />
    <div>
        <center>
            <textarea style="width: 60%; height: 500px">@ipconfig</textarea>
        </center>
    </div>
</body>
</html>
